* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #9bb8cd;
}

.container {
  width: 100%;
  max-width: 650px;
  background: #fff7d4;
  padding: 28px;
  margin: 0 28px;
  border-radius: 10px;
  box-shadow: inset -2px 2px 2px rgb(156, 142, 142);
}

.form-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 6px;
  color: #eec759;
  text-shadow: 2px 2px 2px black;
  border-bottom: solid 1px white;
}

.table-main {
  margin: 0 auto;
  padding: 15px 0 0 0;
}

.form-submit-btn {
  margin: 15px auto 15px;
  display: block;

  text-align: center;
}

.btn {
  background-color: #eec759;
  padding: 10px 10px;
}

span {
  color: red;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
